@model SpeedwayCenter.Areas.Admin.ViewModels.Rider.AdminDetailsRiderViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminBasicLayout.cshtml";
}

<div class="col-xs-4 col-xs-offset-4">
    <h2>Details</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>
                @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Forname)
            </strong>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <span class="clearfix text-center list-group-item">Birth Date: @Html.DisplayFor(model => model.BirthDate)</span>
                <span class="clearfix text-center list-group-item">Country: @Html.DisplayFor(model => model.Country)</span>
                @if (Model.Team == null)
                {
                    <span class="list-group-item list-group-item-info text-center">No team</span>
                }
                else
                {
                    <a href="@Url.Action("Details", "Team", new {id = Model.Team?.Id})" class="list-group-item list-group-item-info text-center">Team: @Html.DisplayFor(model => model.Team.Name)</a>
                }
            </div>
        </div>
        <div class="panel-footer">
            @if (Model.Meetings.Any())
            {
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.Meetings)
                        {
                            <tr>
                                <td>@item.Match</td>
                                <td>@item.Points</td>
                                <td>@item.TotalPoints</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                @:No starts
            }
        </div>
    </div>
</div>
<script>
    $('tr[data-href]').click(function () {
        window.location.href = $(this).data('href');
    });
</script>