@model SpeedwayCenter.Areas.Admin.ViewModels.Rider.AdminEditRiderViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminBasicLayout.cshtml";
}

<div class="col-xs-8 col-xs-offset-2">
    <h2>Edit</h2>

    @using (@Html.BeginForm("Edit", "Rider", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Forname, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.Forname, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownListFor(model => model.TeamId, new SelectList(Model.Teams, "Id", "Name", Model.TeamId), new { @class = "form-control" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)
        <input type="submit" class="btn btn-default" value="Save" />
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            startDate: '-100y',
            orientation: 'bottom'
        });
    });
</script>