@model SpeedwayCenter.ViewModels.Fixture.FixtureViewModel

@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>

<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
        </tr>
    </thead>
    @foreach(var i in Model.Rounds)
    {
        <thead>
            <tr>
                <th colspan="3">Round @(i)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Meetings.Where(m => m.Round == i))
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Score)</td>
                </tr>
            }
        </tbody>
    }
</table>
<script>
    $(".clickable-row").click(function () {
        window.document.location = $(this).data("href");
    });
</script>