@model SpeedwayCenter.Areas.Admin.ViewModels.Match.AdminAddTeamsMatchViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminBasicLayout.cshtml";
}

<div class="col-xs-8 col-xs-offset-2">
    <h2>Add - Choose teams: </h2>

    @using (@Html.BeginForm("Add", "Rider", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.HomeTeamId, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.DropDownListFor(model => model.HomeTeamId, new SelectList(Model.Teams, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AwayTeamId, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.DropDownListFor(model => model.AwayTeamId, new SelectList(Model.Teams, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Add" />
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            startDate: '-100y',
            orientation: 'bottom'
        });
    });
</script>