@model SpeedwayCenter.Areas.Admin.ViewModels.Team.AdminEditTeamViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminBasicLayout.cshtml";
}

<div class="col-xs-8 col-xs-offset-2">
    <h2>Edit</h2>

    @using (@Html.BeginForm("Edit", "Team", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control col-xs-10" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StadiumName, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.StadiumName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)
        <input type="submit" class="btn btn-default" value="Edit" />
    }
</div>