@model SpeedwayCenter.Models.Entity_Framework.Rider

@{
    ViewBag.Title = "Add";
}
<div class="col-sm-offset-3 col-sm-6">
    @using (Html.BeginForm("Add", "Rider", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewData.ModelState.IsValid)
        {
            <div class="form-group input-group-sm has-feedback">
                @Html.LabelFor(model => model.FirstName)<br />
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="form-group input-group-sm has-feedback">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="form-group input-group-sm has-feedback">
                @Html.LabelFor(model => model.BirthDate)
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(m => m.BirthDate)
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="form-group input-group-sm has-feedback">
                @Html.LabelFor(model => model.Country)
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country)
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="form-group input-group-sm">
                @Html.LabelFor(model => model.Image)
                <input type="file" id="image" accept="image/*" class="btn btn-default" name="file"/>
            </div>
            <input type="submit" class="btn btn-default" />
        }
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            startDate: '-100y',
            orientation: 'bottom'
        });
    });
</script>