@model SpeedwayCenter.ViewModels.Rider.RiderDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<div class=" col-xs-8 col-xs-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">@Model.Name</h1>
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink(Model.Team.Name, "Details", "Team", new { id = Model.Team.Id }, new { @class = "text-center" })</li>
            </ul>
        </div>
        <div class="panel-body">
            <p class="lead text-center">
                @Html.LabelFor(model => model.BirthDate):<br /> <small>@Model.BirthDate</small>
            </p>
            <p class="lead text-center">
                @Html.LabelFor(model => model.Country):<br /> <small>@Model.Country</small>
            </p>
        </div>
        <div class="panel-footer">
            <table class="table table-bordered hidden-xs">
                @foreach (var item in Model.Matches)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Name</td>
                        <td>@item.Points</td>
                        <td>@item.Total</td>
                        <td>@Html.ActionLink(item.Score, "Details", "Fixtures", new { id = item.Id }, null)</td>
                    </tr>
                }
            </table>

            @foreach (var item in Model.Matches)
            {
                <div class="panel panel-primary visible-xs-block">
                    <div class="panel-heading">
                        <p>@item.Date</p>
                        <p>@item.Name</p>
                    </div>
                    <div class="panel-body">
                        @item.Total - (@item.Points)
                    </div>
                </div>
            }
        </div>
    </div>
</div>