@model SpeedwayCenter.ViewModels.Team.TeamDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class=" col-xs-8 col-xs-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="text-center">@Model.Name</h1>
            <p class="lead text-center">@Html.LabelFor(model => model.StadiumName): <small>@Model.StadiumName</small><br/>
            @Html.LabelFor(model => model.Capacity): <small>@Model.Capacity</small></p>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model.Riders)
                {
                    <li>@Html.ActionLink(item.Name, "Details", "Rider", new { id = item.Id }, null)</li>
                }
            </ul>
        </div>
        <div class="panel-footer">
            <table class="table table-bordered">
                @foreach (var item in Model.Matches)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Name</td>
                        <td>@Html.ActionLink(item.Score, "Details", "Fixtures", new { id = item.Id }, null)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>